.bg_img{
    background-image: url(bg_index.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    height: 550px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img_content{
    text-align: center;
    padding: 10% 0;
}

.main > p {
    font-weight: normal;
}