.bg_img{
    background-image: url(bg_portfolio.svg);
    background-size: cover 100%;
    background-repeat: no-repeat;
    background-position: left top;
    height: 550px;
}

.img_content{
    text-align: center;
    padding: 10% 0;
}

