.stars{
    vertical-align: middle;
}

.limit-right{
    padding-right: 30%;
}
.bg_img{
    background-image: url(skills_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    height: 550px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.resume-container{
    text-align: center;
}

.img_content{
    text-align: center;
    padding: 4% 0;
    color: white;
}
.img_content > p{
    color: white;
}